@import "variable";
html{
	font-family: -apple-system,Helvetica,'Hiragino Sans GB W3','Microsoft YaHei',arial,sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-size: 16px;
}
body{
	margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

img{
	border: 0;
  max-width: 100%;
}
svg:not(:root){
	overflow: hidden;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding: 0;
}
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: $blue3;
}
input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px white inset;
} 
// p,div{
//   font-size: 0.37rem;
// }