@import "../../common/scss/base.scss";
@import "../../common/scss/utilities.scss";
@import "trainicons";

html,body{
	background-color: #fff;
	height: 100%;
}
em,i,b,strong{
	font-style: normal;
}
b,strong{
	font-weight: normal;
}
input,button,textarea{
			border: 0 none;
			outline: 0 none;
			padding: 0;
			margin: 0;
			background-color: transparent;
		}
textarea{
	resize: none;
	}
.absolute-middle{
	position: absolute;
	top: 50%;
	@include translateY(-50%);
}

//火车票_经停站
.jingting{
	.content{
		text-align:center;
		.title{
			position:fixed;
			width:100%;
			top:0;
			background-color:#f7f7f9;
			span{
				display:inline-block;
				width:25%;
				line-height:1.1875rem;
				color:#323232;
				font-size:0.375rem;
				font-weight:bold;
			}
		}
		ul{
			margin-top: 1.4583rem;
			li{
				color:#323232;
				i{
					display:inline-block;
					width:25%;
					line-height:0.8125rem;
					font-size:0.375rem;
				}	
			}
			li:first-child{
				color:$blue3;
			}
			li:last-child{
				color:$blue3;
			}
		}
	}
}
// 订单填写开始
.train_number{
	padding: 0.5208rem 0;
	font-size: 0.3125rem;
	color: #646464;
	.num{
		font-weight: bold;
		color: #323232;
	}
}
.train_station{
	position: relative;
	.station_info{
		text-align: center;
		>span{
			display: block;
		}
	}
	.station_name{
		display: block;
		font-size: 0.4375rem;
		font-weight: bold;
		color: #323232;
	}
	.time{
		margin-top: 0.3333rem;
		font-size: 0.375rem;
		font-weight: bold;
		color: #646464;
	}
	.mid{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 3.3333rem;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		font-size: 0.3125rem;
		color: #909090;
		>span{
			display: block;
			text-align: center;
			a{
				color: $blue3;
			}
		}
		.arrows{
			width: 3.3333rem;
			height: 0.125rem;
			margin: 0.0521rem 0 0.1562rem;
			background: url(../img/arrow.png);
			background-size: 3.3333rem 0.125rem;;
			-webkit-background-size: 3.3333rem 0.125rem;;
			-moz-background-size: 3.3333rem 0.125rem;;
			-ms-background-size: 3.3333rem 0.125rem;;
			-o-background-size: 3.3333rem 0.125rem;;
		}
	}
}
.order{
	padding: 0 0.3958rem;
	background-color: #fff;
	.order_cont{
		padding: 0 0.3333rem;
	}
	.ticket_type{
		margin-top: 0.9375rem;
		.type_list{
			text-align: center;
			display: -webkit-flex;
			display: flex;
		}
		.list{
			-webkit-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 0.2083rem 0;
			border-radius: 0.1042rem;
			margin-right: 3%;
			&:last-child{
				margin-right: 0;
			}
			&.cur{
				background-color: $blue2;
				box-shadow: 0 0.1042rem 10px 4px rgba(40,98,188,0.3); 
				-webkit-box-shadow: 0 0.1042rem 10px 4px rgba(40,98,188,0.3); 
				-moz-box-shadow: 0 0.1042rem 10px 4px rgba(40,98,188,0.3); 
				-ms-box-shadow: 0 0.1042rem 10px 4px rgba(40,98,188,0.3); 
				-o-box-shadow: 0 0.1042rem 10px 4px rgba(40,98,188,0.3); 
				>span{
					color: #fff;
				}
			}
			>span{
				display: block;
			}
			.type{
				font-size: 0.375rem;
				color: #a4a5a6;
			}
			.num{
				font-size: 0.25rem;
				color: #a4a5a6;
				line-height: 0.625rem;
			}
			.price{
				font-size: 0.3125rem;
				font-weight: bold;
				color: #a4a5a6;
			}
		}
		.seat{
			position: relative;
			font-size: 0.375rem;
			color: #343434;
			line-height: 0.4792rem;
			margin-top: 0.9375rem;
			.seat_checked{
				@include border-box;
				position: absolute;
				width: 0.4792rem;
				height: 0.4792rem;
				border: 1px solid #ccc;
				right: 0.3333rem;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				>.iconfont{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					font-size: 0.3125rem;
					color: $blue3;
					display: none;
				}
				&.cur{
					border: 1px solid $blue3;
					>.iconfont{
						display: block;
					}
				}
			}
		}
		.tips{
			padding: 0  0.3333rem;
			margin-top: 0.9375rem;
			font-size: 0.375rem;
			color: rgb(142, 140, 140);
			line-height: 0.4792rem;
			display: none;
			&.cur{
				display: block;
			}
		}
	}
	.link_man{
		padding: 0  0.3333rem;
	}
	.register{
			padding: 0.5208rem 0;
		>a{
			position: relative;
			display: inline-block;
			width: 100%;
			font-size: 0.375rem;
			color: $blue3;
			.iconfont{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				font-size: 0.4167rem;
			}
		}
	}
	.passenger{
		border-bottom: 1px solid $line;
		.title{
			strong{
				font-size: 0.375rem;
				font-weight: bold;
				color: #333333;
			}
			.often{
				font-size: 0.3125rem;
				color: $blue3;
			}
		}
	}
	.passenger_list{
		padding-top: 0.2083rem;
		font-size: 0.375rem;
		color: #323232;
		.list{
			position: relative;
			line-height: 1.0417rem;
			border-bottom: 1px solid $line;
			&:last-child{
				border-bottom: 0;
			}
			.iconfont{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				color: $yellow;
			}
		}
	}
	.userInfo{
		padding-top: 0.3125rem;
		strong{
				font-size: 0.375rem;
				font-weight: bold;
				color: #333333;
			}
		.mobile{
			position: relative;
			line-height: 1.0417rem;
			border-bottom: 1px solid $line;
			font-size: 0.375rem;
			color: #909090;
			>label{
				display: inline-block;
				width: 1.5rem;
			}
			.tel{
				color: #333;
				font-size:0.37rem;
			}
			>.iconfont{
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
			}
			.icon-book{
				font-size: 0.4167rem;
				color: $blue3;
			}
		}
	}
	.checked_cont{
		position: relative;
		padding: 0.3125rem 0.3333rem;
		border-bottom: 1px solid $line;
		.title{
			font-size: 0.375rem;
			font-weight: bold;
			color: #333333;
		}
		.checked{
			position: absolute;
			right: 0.3333rem;
			top: 50%;
			width: 1.2292rem;
			height: 0.7292rem;
			border-radius: 0.7292rem;
			background-color: #ccc;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			em{
				position: absolute;
				left: 0.0521rem;
				top: 50%;
				height: 0.625rem;
				width: 0.625rem;
				border-radius: 50%;
				background-color: #fff;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
			}
			&.cur{
				background-color: $blue3;
				em{
					left: auto;
					right: 0.0521rem;
				}
			}
		}
	}
	.address{
		position: relative;
		padding: 0.3125rem 0.5rem 0.3125rem 3.2708rem;
		.left{
			position: absolute;
			left: 0.3333rem;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			font-size: 0.375rem;
			color: #909090;
		}
		.right{
			.user_name{
				font-size: 0.375rem;
				color: #323232;
			}
			.tel,.address_detail{
				font-size: 0.3125rem;
				color: #909090;
			}
			.tel{
				padding: 0.2708rem 0 0.2083rem;
			}
		}
		>.iconfont{
			position: absolute;
			right: 0.3333rem;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			color: $line;
		}
	}
	.insurance{
		border-bottom:0;
	}
	.tui_gq{
		border-top:1px solid $line;
		padding-top: 0.3125rem;
		margin:0 0.3333rem;
		>strong{
			font-size: 0.375rem;
    		font-weight: bold;
    		color: #333333;
		}
		>p{
			line-height:0.625rem;
			padding: 0.3125rem 0 2.0rem;
			font-size: 0.375rem;
    		color: #909090;
		}
	}
	.sub{
		@include border-box;
		position:fixed;
		bottom:0;
		left:0;
		padding:0.26rem 0.3958rem 0.26rem;
		width:100%;
		background-color: #fff;
	}
	.submit{
		@include border-box;
		width:100%;
		height: 1.0625rem;
		border-radius: 1.0625rem;
		background-color: $blue3;
		font-size: 0.4375rem;
		font-weight: bold;
		color: #fff;
		-webkit-appearance: none; 
		background-image: none;
	}	
}
// 订单填写结束
// 占座开始
.zhanzuo{
		.loading,.loading_success,.loading_fail,.loading_timeout{
			position: relative;
			height: 1.0417rem;
			line-height: 1.0417rem;
			font-size: 0.3125rem;
			font-weight: bold;
			text-align: center;
			display: none;
			&.cur{
				display: block;
			}
		}
		.loading{
			color: #49910a;
			.bg{
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 0.5208rem;
				background: #6cb42c;
				animation:mymove 20s linear infinite;
				-webkit-animation:mymove 20s linear infinite;
				-moz-animation:mymove 20s linear infinite;
				-ms-animation:mymove 20s linear infinite;
				-o-animation:mymove 20s linear infinite;
			}
			.tip_text{
				position: relative;
				z-index: 2;
			}
		}
		.loading_success{
			color: #49910a;
		}
		.loading_fail,.loading_timeout{
			font-weight: bold;
			color: #eb1e02;
			padding:0.21rem 0.4167rem;
			line-height: 0.65rem;
			height: auto;
			text-align: left;
		}
		.loading_fail{
			text-align: center;
		}
		.friend_tip{
			padding: 0.1562rem 0.4167rem 0;
			font-size: 0.3125rem;
			font-weight: bold;
			line-height: 0.5208rem;
			color: #eb1e02;
			display: none;
			&.cur{
				display: block;
			}
			.tip_cont{
				position: relative;
				padding-left: 1.5625rem;
				label{
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
		.station{
			padding: 0 0.8125rem;
		}
		.buy_info,.pay_status{
			margin-top: 0.5417rem;
			font-size: 0.375rem;
			line-height: 0.4375rem;
			font-weight: 500;
			color: #242424;
			.pull-right{
				strong{
					font-size: 0.3125rem;
					font-weight: bold;
					color: $yellow;
					i{
						font-size: 0.4375rem
					}
				}
			}
		}
		.buy_info{
			>li{
				line-height: 0.625rem;
			}
		}
		.pay_status{
			display: none;
			&.cur{
				display: block;
			}
		}
		.btn{
			@include border-box;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0.9375rem;
			padding: 0 0.3958rem;
			display: none;
			&.cur{
				display: block;
			}
			>a{
				display: block;
				width: 100%;
				height: 1.0833rem;
				border-radius: 0.5417rem;
				font-size: 0.4375rem;
				color: #fff;
				background-color: $blue3;
				line-height: 1.0833rem;
				text-align: center;
			}
		}
	}
// loading
.send-loading{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0);
  display: none;
  &.cur{
  	display: block;
  }
  .loading-inner{
    position:absolute;
    top:50%;
    left:50%;
    @include translate(-50%,-50%);
    background-color: #3b3e43;
    border-radius: 0.11rem;
    padding: 0.13rem 0.27rem;
    color: #ccc;
    >span{
      margin-left: 0.5rem;
    }
  }
  img{
    width: 0.43rem;
    height: 0.43rem;
    position: absolute;
    top: 50%;
    @include translateY(-50%);
  }
}
// 占座结束
@keyframes mymove
	{
		from {width:0px;}
		to {width:100%;}
	}
@-webkit-keyframes mymove
{
	from {width:0px;}
	to {width:100%;}
}
@-moz-keyframes mymove
{
	from {width:0px;}
	to {width:100%;}
}
@-ms-keyframes mymove
{
	from {width:0px;}
	to {width:100%;}
}
@-o-keyframes mymove
{
	from {width:0px;}
	to {width:100%;}
}