.notify-alert{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	background-color: #3b3e43;
	border-radius: 0.11rem;
	padding: 0.13rem 0.27rem;
	color: #fff;
}