@font-face {
  font-family: "hotelicon";
  src: url(http://localhost:8888/fonts/iconfont.a09ace16.eot);
  /* IE9*/
  src: url(http://localhost:8888/fonts/iconfont.a09ace16.eot) format("embedded-opentype"), url(http://localhost:8888/fonts/iconfont.f6d052ea.woff) format("woff"), url(http://localhost:8888/fonts/iconfont.a666e72c.ttf) format("truetype"), url(http://localhost:8888/svg/iconfont.d5ed0185.svg) format("svg");
  /* iOS 4.1- */ }

.hotel-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "hotelicon" !important;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-clock1:before {
  content: "\E600"; }

.icon-book:before {
  content: "\E601"; }

.icon-calendar:before {
  content: "\E602"; }

.icon-cancel:before {
  content: "\E603"; }

.icon-chaping:before {
  content: "\E604"; }

.icon-chazi:before {
  content: "\E605"; }

.icon-clock:before {
  content: "\E606"; }

.icon-daifukuan:before {
  content: "\E607"; }

.icon-dingwei:before {
  content: "\E608"; }

.icon-down:before {
  content: "\E609"; }

.icon-downdown:before {
  content: "\E60A"; }

.icon-fitness:before {
  content: "\E60B"; }

.icon-gou:before {
  content: "\E60C"; }

.icon-gougou:before {
  content: "\E6C6"; }

.icon-heart:before {
  content: "\E60D"; }

.icon-jiaren:before {
  content: "\E60E"; }

.icon-location3:before {
  content: "\E60F"; }

.icon-lock:before {
  content: "\E610"; }

.icon-message:before {
  content: "\E611"; }

.icon-message1:before {
  content: "\E612"; }

.icon-paixu:before {
  content: "\E6C4"; }

.icon-parking:before {
  content: "\E613"; }

.icon-parking1:before {
  content: "\E628"; }

.icon-person:before {
  content: "\E629"; }

.icon-phone:before {
  content: "\E614"; }

.icon-ringing:before {
  content: "\E630"; }

.icon-pingfang:before {
  content: "\E62A"; }

.icon-point:before {
  content: "\E615"; }

.icon-quan:before {
  content: "\E616"; }

.icon-ques:before {
  content: "\E617"; }

.icon-search:before {
  content: "\E633"; }

.icon-shaixuan1:before {
  content: "\E618"; }

.icon-shaixuan2:before {
  content: "\E631"; }

.icon-share:before {
  content: "\E619"; }

.icon-shenqing:before {
  content: "\E632"; }

.icon-shower:before {
  content: "\E62B"; }

.icon-shunxu:before {
  content: "\E6C5"; }

.icon-signal:before {
  content: "\E61A"; }

.icon-smile1:before {
  content: "\E62C"; }

.icon-stairs:before {
  content: "\E62D"; }

.icon-star1:before {
  content: "\E61B"; }

.icon-star2:before {
  content: "\E61C"; }

.icon-sth:before {
  content: "\E62E"; }

.icon-transfer:before {
  content: "\E61D"; }

.icon-upup:before {
  content: "\E61E"; }

.icon-user:before {
  content: "\E61F"; }

.icon-waste:before {
  content: "\E620"; }

.icon-wifi:before {
  content: "\E621"; }

.icon-yiban:before {
  content: "\E622"; }

.icon-youyou:before {
  content: "\E623"; }

.icon-zan1:before {
  content: "\E624"; }

.icon-zuozuo:before {
  content: "\E625"; }

.icon-zushu:before {
  content: "\E62F"; }

.icon-kefu:before {
  content: "\E626"; }

.icon-up:before {
  content: "\E627"; }

.icon-mianfeitingchechang:before {
  content: "\E634"; }

.icon-youkewuxianshangwangdegonggongquyumianfei:before {
  content: "\E635"; }

.icon-jiejifuwu:before {
  content: "\E636"; }

.icon-xinyongqiajiesuanfuwu:before {
  content: "\E637"; }

.icon-fangjianwifi:before {
  content: "\E638"; }

.icon-gonggongquyubiludianshijiankongxitong1:before {
  content: "\E639"; }

.icon-canjirenkefang:before {
  content: "\E63A"; }

.icon-datangba:before {
  content: "\E63B"; }

.icon-datangmianfeibaozhi:before {
  content: "\E63C"; }

.icon-dianti:before {
  content: "\E63D"; }

.icon-duogongnengting:before {
  content: "\E63E"; }

.icon-feijingyingxingkerenxiuxiqu:before {
  content: "\E63F"; }

.icon-gonggongyinxiangxitong:before {
  content: "\E640"; }

.icon-jiuba:before {
  content: "\E641"; }

.icon-kafeiting:before {
  content: "\E642"; }

.icon-lifameirongzhongxin:before {
  content: "\E643"; }

.icon-mianfeilvyoujiaotongtu:before {
  content: "\E644"; }

.icon-baoxiangui:before {
  content: "\E645"; }

.icon-rishicanting:before {
  content: "\E646"; }

.icon-shangchang:before {
  content: "\E647"; }

.icon-shoufeitingchechang:before {
  content: "\E648"; }

.icon-wuyanlouceng:before {
  content: "\E649"; }

.icon-xicanting:before {
  content: "\E64A"; }

.icon-xiyanqu:before {
  content: "\E64B"; }

.icon-zhongcanting:before {
  content: "\E64C"; }

.icon-zidongqukuanji:before {
  content: "\E64D"; }

.icon-kongdiao:before {
  content: "\E64E"; }

.icon-zhongyangkongdiao:before {
  content: "\E64F"; }

.icon-nuanqi:before {
  content: "\E650"; }

.icon-canting:before {
  content: "\E651"; }

.icon-lipin:before {
  content: "\E652"; }

.icon-xingzhenglouceng:before {
  content: "\E653"; }

.icon-xingzhengjiulang:before {
  content: "\E654"; }

.icon-youxiankuandaimianfei:before {
  content: "\E655"; }

.icon-quanbufangjianwuxiankuandaimianfei:before {
  content: "\E656"; }

.icon-ktv:before {
  content: "\E657"; }

.icon-spa:before {
  content: "\E658"; }

.icon-anmoshi:before {
  content: "\E659"; }

.icon-chashi:before {
  content: "\E65A"; }

.icon-jianshenshi:before {
  content: "\E65B"; }

.icon-lanqiu:before {
  content: "\E65C"; }

.icon-pingpangqiushi:before {
  content: "\E65D"; }

.icon-qipaishi:before {
  content: "\E65E"; }

.icon-sangnayushi:before {
  content: "\E65F"; }

.icon-shaokao:before {
  content: "\E660"; }

.icon-shineiyouyongchi:before {
  content: "\E661"; }

.icon-shiwaiyouyongchi:before {
  content: "\E662"; }

.icon-wuting:before {
  content: "\E663"; }

.icon-zhuoqiushi:before {
  content: "\E664"; }

.icon-zuyu:before {
  content: "\E665"; }

.icon-tubulvyou:before {
  content: "\E666"; }

.icon-wenquan:before {
  content: "\E667"; }

.icon-shatanpaiqiu:before {
  content: "\E668"; }

.icon-diaoyu:before {
  content: "\E669"; }

.icon-tushuguan:before {
  content: "\E66A"; }

.icon-taiqiu:before {
  content: "\E66B"; }

.icon-yezonghui:before {
  content: "\E66C"; }

.icon-youxishi:before {
  content: "\E66D"; }

.icon-zuqiu:before {
  content: "\E66E"; }

.icon-wangqiuchang:before {
  content: "\E66F"; }

.icon-monigaoerfuqiuchang:before {
  content: "\E670"; }

.icon-monigaoerfuqiuchang1:before {
  content: "\E671"; }

.icon-baolingqiuchang:before {
  content: "\E672"; }

.icon-24xiaoshiqiantaifuwu:before {
  content: "\E673"; }

.icon-bufenshiduandatangjingli:before {
  content: "\E674"; }

.icon-chuanzhenfuyin:before {
  content: "\E675"; }

.icon-guanjiafuwu:before {
  content: "\E676"; }

.icon-xinglijicun:before {
  content: "\E677"; }

.icon-huiyiting:before {
  content: "\E678"; }

.icon-hunyanfuwu:before {
  content: "\E679"; }

.icon-jiaochefuwu:before {
  content: "\E67A"; }

.icon-jiaoxingfuwu:before {
  content: "\E67B"; }

.icon-jiezhanfuwu:before {
  content: "\E67C"; }

.icon-libinfuwu:before {
  content: "\E67D"; }

.icon-lvyoupiaowufuwu:before {
  content: "\E67E"; }

.icon-shangwuzhongxin:before {
  content: "\E67F"; }

.icon-songcanfuwu:before {
  content: "\E680"; }

.icon-waibiduihuanfuwu:before {
  content: "\E681"; }

.icon-xiyifuwu:before {
  content: "\E682"; }

.icon-yicixingzhangdanjiesuanfuwu:before {
  content: "\E683"; }

.icon-youzhengfuwu:before {
  content: "\E684"; }

.icon-zhuanzhixingliyuan:before {
  content: "\E685"; }

.icon-mentong:before {
  content: "\E686"; }

.icon-zixingchezulinfuwu:before {
  content: "\E687"; }

.icon-zuchefuwu:before {
  content: "\E688"; }

.icon-xianhuadian:before {
  content: "\E689"; }

.icon-banlisirendengjiruzhutuifangshouxu:before {
  content: "\E68A"; }

.icon-24xiaoshidatangjingli:before {
  content: "\E68B"; }

.icon-110vdianyachazuo:before {
  content: "\E68C"; }

.icon-220vdianyachazuo:before {
  content: "\E68D"; }

.icon-chufangyongju:before {
  content: "\E68E"; }

.icon-chuangjuyarongbei:before {
  content: "\E68F"; }

.icon-chuifengji:before {
  content: "\E690"; }

.icon-dianhua:before {
  content: "\E691"; }

.icon-dianreshuihu:before {
  content: "\E692"; }

.icon-dianzicheng:before {
  content: "\E693"; }

.icon-dulilinyujian:before {
  content: "\E694"; }

.icon-duozhongguigedianyuanchazuo:before {
  content: "\E695"; }

.icon-fangjianneigaosushangwang:before {
  content: "\E696"; }

.icon-fangneibaoxianxiang:before {
  content: "\E697"; }

.icon-fengjingyangtai:before {
  content: "\E698"; }

.icon-guojichangtudianhua:before {
  content: "\E699"; }

.icon-guoneichangtudianhua:before {
  content: "\E69A"; }

.icon-hujing:before {
  content: "\E69B"; }

.icon-hejing:before {
  content: "\E69C"; }

.icon-huanyinglipin:before {
  content: "\E69D"; }

.icon-kafeihuchahu:before {
  content: "\E69E"; }

.icon-kaiyechuang:before {
  content: "\E69F"; }

.icon-kaomianbaoji:before {
  content: "\E6A0"; }

.icon-kaoxiang:before {
  content: "\E6A1"; }

.icon-liantongfangnuanqi:before {
  content: "\E6A2"; }

.icon-liangyongchangshafa:before {
  content: "\E6A3"; }

.icon-luzao:before {
  content: "\E6A4"; }

.icon-lutai:before {
  content: "\E6A5"; }

.icon-miniba:before {
  content: "\E6A6"; }

.icon-mianfeibaozhi:before {
  content: "\E6A7"; }

.icon-mianfeipingzhuangshui:before {
  content: "\E6A8"; }

.icon-mianfeixishuyongpin:before {
  content: "\E6A9"; }

.icon-naozhong:before {
  content: "\E6AA"; }

.icon-shafa:before {
  content: "\E6AB"; }

.icon-shoudongchuanglian:before {
  content: "\E6AC"; }

.icon-shuzhuo:before {
  content: "\E6AD"; }

.icon-sirenwenquan:before {
  content: "\E6AE"; }

.icon-tuoxie:before {
  content: "\E6AF"; }

.icon-weibolu:before {
  content: "\E6B0"; }

.icon-xiwanji:before {
  content: "\E6B1"; }

.icon-xiyujiandianhua:before {
  content: "\E6B2"; }

.icon-xiaobingxiang:before {
  content: "\E6B3"; }

.icon-yejingdianshiji:before {
  content: "\E6B4"; }

.icon-yongcanqu:before {
  content: "\E6B5"; }

.icon-youxianpindao:before {
  content: "\E6B6"; }

.icon-yusan:before {
  content: "\E6B7"; }

.icon-yuyinliuyan:before {
  content: "\E6B8"; }

.icon-yugang:before {
  content: "\E6B9"; }

.icon-jingzi:before {
  content: "\E6BA"; }

.icon-yuyi:before {
  content: "\E6BB"; }

.icon-yunyishebei:before {
  content: "\E6BC"; }

.icon-zheguangchuanglian:before {
  content: "\E6BD"; }

.icon-zhenxianbao:before {
  content: "\E6BE"; }

.icon-bilu:before {
  content: "\E6BF"; }

.icon-liantongfang:before {
  content: "\E6C0"; }

.icon-weixingpindao:before {
  content: "\E6C1"; }

.icon-chengjing:before {
  content: "\E6C2"; }

.icon-dibiaojing:before {
  content: "\E6C3"; }

.icon-jiachuang:before {
  content: "\E76B"; }

div {
  color: #ff7700;
  font-size: 30px; }

/*# sourceMappingURL=index.css.map*/