html {
  font-family: -apple-system,Helvetica,'Hiragino Sans GB W3','Microsoft YaHei',arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

img {
  border: 0;
  max-width: 100%; }

svg:not(:root) {
  overflow: hidden; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #1c8de4; }

html {
  background-color: #ebebeb; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: "hotelicon";
  src: url("../fonts/iconfont.eot");
  /* IE9*/
  src: url("../fonts/iconfont.eot") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg") format("svg");
  /* iOS 4.1- */ }

.hotel-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "hotelicon" !important;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-clock1:before {
  content: "\e600"; }

.icon-book:before {
  content: "\e601"; }

.icon-calendar:before {
  content: "\e602"; }

.icon-cancel:before {
  content: "\e603"; }

.icon-chaping:before {
  content: "\e604"; }

.icon-chazi:before {
  content: "\e605"; }

.icon-clock:before {
  content: "\e606"; }

.icon-daifukuan:before {
  content: "\e607"; }

.icon-dingwei:before {
  content: "\e608"; }

.icon-down:before {
  content: "\e609"; }

.icon-downdown:before {
  content: "\e60a"; }

.icon-fitness:before {
  content: "\e60b"; }

.icon-gou:before {
  content: "\e60c"; }

.icon-gougou:before {
  content: "\e6c6"; }

.icon-heart:before {
  content: "\e60d"; }

.icon-jiaren:before {
  content: "\e60e"; }

.icon-location3:before {
  content: "\e60f"; }

.icon-lock:before {
  content: "\e610"; }

.icon-message:before {
  content: "\e611"; }

.icon-message1:before {
  content: "\e612"; }

.icon-paixu:before {
  content: "\e6c4"; }

.icon-parking:before {
  content: "\e613"; }

.icon-parking1:before {
  content: "\e628"; }

.icon-person:before {
  content: "\e629"; }

.icon-phone:before {
  content: "\e614"; }

.icon-ringing:before {
  content: "\e630"; }

.icon-pingfang:before {
  content: "\e62a"; }

.icon-point:before {
  content: "\e615"; }

.icon-quan:before {
  content: "\e616"; }

.icon-ques:before {
  content: "\e617"; }

.icon-search:before {
  content: "\e633"; }

.icon-shaixuan1:before {
  content: "\e618"; }

.icon-shaixuan2:before {
  content: "\e631"; }

.icon-share:before {
  content: "\e619"; }

.icon-shenqing:before {
  content: "\e632"; }

.icon-shower:before {
  content: "\e62b"; }

.icon-shunxu:before {
  content: "\e6c5"; }

.icon-signal:before {
  content: "\e61a"; }

.icon-smile1:before {
  content: "\e62c"; }

.icon-stairs:before {
  content: "\e62d"; }

.icon-star1:before {
  content: "\e61b"; }

.icon-star2:before {
  content: "\e61c"; }

.icon-sth:before {
  content: "\e62e"; }

.icon-transfer:before {
  content: "\e61d"; }

.icon-upup:before {
  content: "\e61e"; }

.icon-user:before {
  content: "\e61f"; }

.icon-waste:before {
  content: "\e620"; }

.icon-wifi:before {
  content: "\e621"; }

.icon-yiban:before {
  content: "\e622"; }

.icon-youyou:before {
  content: "\e623"; }

.icon-zan1:before {
  content: "\e624"; }

.icon-zuozuo:before {
  content: "\e625"; }

.icon-zushu:before {
  content: "\e62f"; }

.icon-kefu:before {
  content: "\e626"; }

.icon-up:before {
  content: "\e627"; }

.icon-mianfeitingchechang:before {
  content: "\e634"; }

.icon-youkewuxianshangwangdegonggongquyumianfei:before {
  content: "\e635"; }

.icon-jiejifuwu:before {
  content: "\e636"; }

.icon-xinyongqiajiesuanfuwu:before {
  content: "\e637"; }

.icon-fangjianwifi:before {
  content: "\e638"; }

.icon-gonggongquyubiludianshijiankongxitong1:before {
  content: "\e639"; }

.icon-canjirenkefang:before {
  content: "\e63a"; }

.icon-datangba:before {
  content: "\e63b"; }

.icon-datangmianfeibaozhi:before {
  content: "\e63c"; }

.icon-dianti:before {
  content: "\e63d"; }

.icon-duogongnengting:before {
  content: "\e63e"; }

.icon-feijingyingxingkerenxiuxiqu:before {
  content: "\e63f"; }

.icon-gonggongyinxiangxitong:before {
  content: "\e640"; }

.icon-jiuba:before {
  content: "\e641"; }

.icon-kafeiting:before {
  content: "\e642"; }

.icon-lifameirongzhongxin:before {
  content: "\e643"; }

.icon-mianfeilvyoujiaotongtu:before {
  content: "\e644"; }

.icon-baoxiangui:before {
  content: "\e645"; }

.icon-rishicanting:before {
  content: "\e646"; }

.icon-shangchang:before {
  content: "\e647"; }

.icon-shoufeitingchechang:before {
  content: "\e648"; }

.icon-wuyanlouceng:before {
  content: "\e649"; }

.icon-xicanting:before {
  content: "\e64a"; }

.icon-xiyanqu:before {
  content: "\e64b"; }

.icon-zhongcanting:before {
  content: "\e64c"; }

.icon-zidongqukuanji:before {
  content: "\e64d"; }

.icon-kongdiao:before {
  content: "\e64e"; }

.icon-zhongyangkongdiao:before {
  content: "\e64f"; }

.icon-nuanqi:before {
  content: "\e650"; }

.icon-canting:before {
  content: "\e651"; }

.icon-lipin:before {
  content: "\e652"; }

.icon-xingzhenglouceng:before {
  content: "\e653"; }

.icon-xingzhengjiulang:before {
  content: "\e654"; }

.icon-youxiankuandaimianfei:before {
  content: "\e655"; }

.icon-quanbufangjianwuxiankuandaimianfei:before {
  content: "\e656"; }

.icon-ktv:before {
  content: "\e657"; }

.icon-spa:before {
  content: "\e658"; }

.icon-anmoshi:before {
  content: "\e659"; }

.icon-chashi:before {
  content: "\e65a"; }

.icon-jianshenshi:before {
  content: "\e65b"; }

.icon-lanqiu:before {
  content: "\e65c"; }

.icon-pingpangqiushi:before {
  content: "\e65d"; }

.icon-qipaishi:before {
  content: "\e65e"; }

.icon-sangnayushi:before {
  content: "\e65f"; }

.icon-shaokao:before {
  content: "\e660"; }

.icon-shineiyouyongchi:before {
  content: "\e661"; }

.icon-shiwaiyouyongchi:before {
  content: "\e662"; }

.icon-wuting:before {
  content: "\e663"; }

.icon-zhuoqiushi:before {
  content: "\e664"; }

.icon-zuyu:before {
  content: "\e665"; }

.icon-tubulvyou:before {
  content: "\e666"; }

.icon-wenquan:before {
  content: "\e667"; }

.icon-shatanpaiqiu:before {
  content: "\e668"; }

.icon-diaoyu:before {
  content: "\e669"; }

.icon-tushuguan:before {
  content: "\e66a"; }

.icon-taiqiu:before {
  content: "\e66b"; }

.icon-yezonghui:before {
  content: "\e66c"; }

.icon-youxishi:before {
  content: "\e66d"; }

.icon-zuqiu:before {
  content: "\e66e"; }

.icon-wangqiuchang:before {
  content: "\e66f"; }

.icon-monigaoerfuqiuchang:before {
  content: "\e670"; }

.icon-monigaoerfuqiuchang1:before {
  content: "\e671"; }

.icon-baolingqiuchang:before {
  content: "\e672"; }

.icon-24xiaoshiqiantaifuwu:before {
  content: "\e673"; }

.icon-bufenshiduandatangjingli:before {
  content: "\e674"; }

.icon-chuanzhenfuyin:before {
  content: "\e675"; }

.icon-guanjiafuwu:before {
  content: "\e676"; }

.icon-xinglijicun:before {
  content: "\e677"; }

.icon-huiyiting:before {
  content: "\e678"; }

.icon-hunyanfuwu:before {
  content: "\e679"; }

.icon-jiaochefuwu:before {
  content: "\e67a"; }

.icon-jiaoxingfuwu:before {
  content: "\e67b"; }

.icon-jiezhanfuwu:before {
  content: "\e67c"; }

.icon-libinfuwu:before {
  content: "\e67d"; }

.icon-lvyoupiaowufuwu:before {
  content: "\e67e"; }

.icon-shangwuzhongxin:before {
  content: "\e67f"; }

.icon-songcanfuwu:before {
  content: "\e680"; }

.icon-waibiduihuanfuwu:before {
  content: "\e681"; }

.icon-xiyifuwu:before {
  content: "\e682"; }

.icon-yicixingzhangdanjiesuanfuwu:before {
  content: "\e683"; }

.icon-youzhengfuwu:before {
  content: "\e684"; }

.icon-zhuanzhixingliyuan:before {
  content: "\e685"; }

.icon-mentong:before {
  content: "\e686"; }

.icon-zixingchezulinfuwu:before {
  content: "\e687"; }

.icon-zuchefuwu:before {
  content: "\e688"; }

.icon-xianhuadian:before {
  content: "\e689"; }

.icon-banlisirendengjiruzhutuifangshouxu:before {
  content: "\e68a"; }

.icon-24xiaoshidatangjingli:before {
  content: "\e68b"; }

.icon-110vdianyachazuo:before {
  content: "\e68c"; }

.icon-220vdianyachazuo:before {
  content: "\e68d"; }

.icon-chufangyongju:before {
  content: "\e68e"; }

.icon-chuangjuyarongbei:before {
  content: "\e68f"; }

.icon-chuifengji:before {
  content: "\e690"; }

.icon-dianhua:before {
  content: "\e691"; }

.icon-dianreshuihu:before {
  content: "\e692"; }

.icon-dianzicheng:before {
  content: "\e693"; }

.icon-dulilinyujian:before {
  content: "\e694"; }

.icon-duozhongguigedianyuanchazuo:before {
  content: "\e695"; }

.icon-fangjianneigaosushangwang:before {
  content: "\e696"; }

.icon-fangneibaoxianxiang:before {
  content: "\e697"; }

.icon-fengjingyangtai:before {
  content: "\e698"; }

.icon-guojichangtudianhua:before {
  content: "\e699"; }

.icon-guoneichangtudianhua:before {
  content: "\e69a"; }

.icon-hujing:before {
  content: "\e69b"; }

.icon-hejing:before {
  content: "\e69c"; }

.icon-huanyinglipin:before {
  content: "\e69d"; }

.icon-kafeihuchahu:before {
  content: "\e69e"; }

.icon-kaiyechuang:before {
  content: "\e69f"; }

.icon-kaomianbaoji:before {
  content: "\e6a0"; }

.icon-kaoxiang:before {
  content: "\e6a1"; }

.icon-liantongfangnuanqi:before {
  content: "\e6a2"; }

.icon-liangyongchangshafa:before {
  content: "\e6a3"; }

.icon-luzao:before {
  content: "\e6a4"; }

.icon-lutai:before {
  content: "\e6a5"; }

.icon-miniba:before {
  content: "\e6a6"; }

.icon-mianfeibaozhi:before {
  content: "\e6a7"; }

.icon-mianfeipingzhuangshui:before {
  content: "\e6a8"; }

.icon-mianfeixishuyongpin:before {
  content: "\e6a9"; }

.icon-naozhong:before {
  content: "\e6aa"; }

.icon-shafa:before {
  content: "\e6ab"; }

.icon-shoudongchuanglian:before {
  content: "\e6ac"; }

.icon-shuzhuo:before {
  content: "\e6ad"; }

.icon-sirenwenquan:before {
  content: "\e6ae"; }

.icon-tuoxie:before {
  content: "\e6af"; }

.icon-weibolu:before {
  content: "\e6b0"; }

.icon-xiwanji:before {
  content: "\e6b1"; }

.icon-xiyujiandianhua:before {
  content: "\e6b2"; }

.icon-xiaobingxiang:before {
  content: "\e6b3"; }

.icon-yejingdianshiji:before {
  content: "\e6b4"; }

.icon-yongcanqu:before {
  content: "\e6b5"; }

.icon-youxianpindao:before {
  content: "\e6b6"; }

.icon-yusan:before {
  content: "\e6b7"; }

.icon-yuyinliuyan:before {
  content: "\e6b8"; }

.icon-yugang:before {
  content: "\e6b9"; }

.icon-jingzi:before {
  content: "\e6ba"; }

.icon-yuyi:before {
  content: "\e6bb"; }

.icon-yunyishebei:before {
  content: "\e6bc"; }

.icon-zheguangchuanglian:before {
  content: "\e6bd"; }

.icon-zhenxianbao:before {
  content: "\e6be"; }

.icon-bilu:before {
  content: "\e6bf"; }

.icon-liantongfang:before {
  content: "\e6c0"; }

.icon-weixingpindao:before {
  content: "\e6c1"; }

.icon-chengjing:before {
  content: "\e6c2"; }

.icon-dibiaojing:before {
  content: "\e6c3"; }

em, strong, b, i {
  font-style: normal; }

strong, b {
  font-weight: normal; }

.absolute-middle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

strong {
  color: #ff7700; }

.cicon-blue {
  color: #1c8de4; }

.cicon-gray {
  color: #c6c6c6; }

.left-icon {
  margin-right: 0.19rem; }

.right-icon {
  margin-left: 0.24rem; }

.padding-inner {
  padding: 0 0.31rem; }

.hotel-intro {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #c6c6c6; }
  .hotel-intro .hi-img {
    position: relative;
    width: 100%;
    height: 5.625rem; }
    .hotel-intro .hi-img img {
      width: 100%;
      height: 5.625rem;
      display: block; }
    .hotel-intro .hi-img .caption {
      position: absolute;
      left: 0.375rem;
      bottom: 0.3125rem;
      font-size: 0.4375rem;
      color: #fff; }
      .hotel-intro .hi-img .caption > em {
        font-size: 0.375rem; }
  .hotel-intro .item {
    display: block;
    border-bottom: 1px solid #c6c6c6;
    padding: 0.33rem 0 0.33rem 0.346667rem;
    position: relative; }
    .hotel-intro .item:last-child {
      border-bottom: 0; }
    .hotel-intro .item .gray {
      color: #dbdbdb; }
  .hotel-intro .fixed-item {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0; }
  .hotel-intro .score {
    left: 0.31rem;
    right: auto; }
    .hotel-intro .score b {
      font-size: 0.59rem; }
  .hotel-intro .num {
    margin-left: 1.466667rem;
    text-align: right; }
  .hotel-intro .xq-info {
    margin-right: 0.8rem;
    color: #313131; }
    .hotel-intro .xq-info p:first-child {
      font-size: 0.37rem; }
    .hotel-intro .xq-info .icons {
      margin-top: 0.27rem; }
      .hotel-intro .xq-info .icons i {
        margin-right: 0.2rem;
        font-size: 0.43rem;
        color: #9e9e9e; }

.hotel-aside {
  background-color: #fff;
  margin-top: 0.21rem;
  font-size: 0.37rem; }
  .hotel-aside .item {
    display: block;
    border-bottom: 1px solid #c6c6c6;
    padding: 0.32rem 0.346667rem;
    position: relative; }
  .hotel-aside .gray {
    color: #dbdbdb; }
  .hotel-aside .grayer {
    color: #9e9e9e; }
  .hotel-aside .fixed-item {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0.4rem; }
  .hotel-aside .address {
    margin-right: 1.6rem; }
    .hotel-aside .address span {
      color: #313131; }
  .hotel-aside .aside-links > a {
    border-left: 1px solid #ccc;
    padding: 0 0.293333rem;
    margin-bottom: 0.066667rem;
    display: inline-block; }
    .hotel-aside .aside-links > a:first-child {
      border-left: none; }
  .hotel-aside .aside {
    position: relative; }
  .hotel-aside .aside-label {
    position: absolute;
    top: 0.32rem;
    left: 0.346667rem; }
  .hotel-aside .aside-links {
    margin-left: 1.466667rem; }

.room-filter {
  background-color: #fff;
  margin-top: 0.2rem; }
  .room-filter .rdate-calendar {
    font-size: 0.37rem; }
    .room-filter .rdate-calendar i {
      color: #9e9e9e; }
  .room-filter .item {
    display: block;
    border-bottom: 1px solid #c6c6c6;
    padding: 0.32rem 0.346667rem;
    position: relative; }
    .room-filter .item .gray {
      color: #dbdbdb; }
  .room-filter .rdate-result span {
    color: #9e9e9e; }
  .room-filter .fixed-item {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0.4rem; }
  .room-filter .rlabel > a {
    display: inline-block;
    padding: 0.213333rem 0.11rem;
    border-radius: 0.066667rem;
    border: 0.026667rem solid #bddff9;
    margin-right: 0.186667rem;
    font-size: 0.37rem; }
  .room-filter .rlabel-end {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0.346667rem; }
    .room-filter .rlabel-end > a {
      display: inline-block;
      padding: 0.213333rem 0.11rem;
      border-radius: 0.066667rem;
      border: 0.026667rem solid #bddff9; }
  .room-filter .rlabel-box {
    border-bottom: 1px solid #c6c6c6;
    padding: 0.32rem 0.346667rem;
    position: relative; }

.room-info {
  border-bottom: 1px solid #c6c6c6;
  padding: 0.32rem 0.346667rem;
  background-color: #fff;
  position: relative; }
  .room-info .media-body {
    width: 60%; }
  .room-info .room-book > div {
    display: inline-block; }
    .room-info .room-book > div:first-child {
      margin-right: 0.57rem; }
    .room-info .room-book > div:last-child {
      right: 0; }
  .room-info .room-book i {
    color: #1c8de4; }

.media {
  display: block;
  width: 50%; }

.media-left {
  width: 1.97rem; }
  .media-left .media-object {
    border-radius: 0.11rem; }

.media-body {
  margin-left: 2.26rem; }
  .media-body h3 {
    font-size: 0.37rem;
    color: #313131; }
  .media-body .size {
    color: #999;
    margin-top: 0.27rem; }

.room-book {
  text-align: right;
  right: 0.31rem; }
  .room-book .label-icons .label-icon {
    font-size: 0.32rem;
    border: 1px solid #ff7700;
    color: #ff7700;
    padding: 0.03rem 0.07rem; }
  .room-book .price {
    color: #999;
    margin-right: 0.13rem; }
    .room-book .price .currency {
      font-size: 0.37rem;
      color: #ff7700; }
    .room-book .price strong {
      font-size: 0.56rem;
      color: #ff7700; }
    .room-book .price .icon-down, .room-book .price .icon-up {
      font-size: 0.43rem;
      margin-left: 0.2rem; }
  .room-book .gray-btn {
    border: 1px solid #8c8c8c; }
    .room-book .gray-btn p:first-child {
      color: #fff;
      background-color: #8c8c8c; }
  .room-book .yellow-btn {
    border: 1px solid #ff7700; }
    .room-book .yellow-btn p:first-child {
      color: #fff;
      background-color: #ff7700; }
  .room-book .order-btn {
    display: inline-block;
    border-radius: 0.11rem;
    text-align: center;
    font-size: 0.32rem; }
    .room-book .order-btn p:last-child {
      padding: 0.07rem;
      color: #8c8c8c; }
  .room-book .price-box {
    display: inline-block;
    margin-right: 0.32rem; }

.sub-room {
  background-color: #f4f4f4;
  padding: 0.32rem 0.346667rem;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: none; }
  .sub-room .media {
    border-right: 1px solid #ccc;
    box-sizing: border-box; }
  .sub-room .room-book {
    box-sizing: border-box; }
  .sub-room h3 {
    font-size: 0.37rem;
    color: #313131; }
  .sub-room .size {
    margin-top: 0.1rem;
    font-size: 0.32rem;
    color: #999; }
  .sub-room .black {
    color: #000; }

.room-item .icon-up {
  display: none; }

.room-item .icon-down {
  display: block; }

.room-item.open .sub-room, .room-item.opened .sub-room {
  display: block; }

.room-item.open .icon-up, .room-item.opened .icon-up {
  display: block; }

.room-item.open .icon-down, .room-item.opened .icon-down {
  display: none; }

.hotel-sellp {
  padding: 0 0.346667rem; }

.sell-hd {
  position: relative;
  margin-bottom: 0.27rem; }
  .sell-hd .extra {
    position: absolute;
    right: 0.346667rem;
    top: 0.346667rem; }
  .sell-hd h2 {
    font-size: 0.43rem;
    padding: 0.346667rem;
    color: #2b2b2b; }
  .sell-hd .sell-boxshadow {
    border-radius: 0.05rem;
    box-shadow: 0.03rem 0.03rem 0.05rem rgba(131, 126, 115, 0.18);
    background-color: #fff; }
  .sell-hd .sell-bd {
    padding: 0.3rem 0.5rem;
    overflow: hidden; }
    .sell-hd .sell-bd.intro p {
      color: #7d7c7f; }
  .sell-hd .sell-icon > p {
    margin-bottom: 0.41rem;
    color: #808080; }
  .sell-hd .sell-icon > span {
    width: 33.333%;
    display: inline-block;
    float: left;
    vertical-align: middle;
    color: #808080;
    margin-bottom: 0.41rem; }

.sell-aside li {
  padding: 0.346667rem 0.266667rem;
  border-bottom: 1px solid #e2e2e2; }
  .sell-aside li:before, .sell-aside li:after {
    content: " ";
    display: table; }
  .sell-aside li:after {
    clear: both; }

.sell-aside b {
  color: #7d7c7f;
  font-weight: normal;
  font-size: 0.43rem; }

.sell-aside .expand-text {
  display: none; }

.sell-aside .expand .expand-text {
  display: block; }

ul, li {
  margin: 0;
  list-style: none;
  padding: 0; }

.more {
  text-align: center;
  padding: 0.4rem 0; }
  .more a {
    font-size: 0.32rem; }

.hotel-imgs {
  background-color: #fff;
  padding-top: 0.16rem; }
  .hotel-imgs img {
    display: block; }
  .hotel-imgs a {
    display: block;
    width: 50%;
    box-sizing: border-box;
    padding: 0 0.09rem 0.09rem;
    float: left; }
    .hotel-imgs a:nth-child(n+1) {
      padding-right: 0; }

@-webkit-keyframes gocircle {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes gocircle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

.loading {
  height: 1px;
  background-color: #c6c7c7;
  position: relative;
  margin-top: 0.67rem; }
  .loading > div {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ebebeb;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .loading > div p {
      padding: 0 0.3rem;
      color: #9e9e9e; }
  .loading .icon-quan {
    animation-name: gocircle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: gocircle;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    font-size: 0.43rem;
    margin-right: 0.13rem; }

.room-banner {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1; }

.room-img {
  position: relative;
  max-height: 4.8rem; }
  .room-img a {
    display: block;
    height: 4.8rem;
    text-align: center; }
    .room-img a img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .room-img .indicate {
    width: 0.64rem;
    height: 0.53rem;
    color: #fff;
    position: absolute;
    bottom: 0.27rem;
    left: 50%;
    margin-left: 0rem;
    line-height: 0.53rem;
    text-align: left; }
  .room-img .slick-dots li {
    display: none;
    width: 1.28rem;
    height: 0.53rem;
    color: #fff;
    border-radius: 0.27rem;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0.27rem;
    left: 50%;
    margin-left: -0.64rem;
    line-height: 0.53rem; }
    .room-img .slick-dots li button {
      background: none;
      color: #fff;
      border: 0;
      padding: 0;
      font-size: 0.37rem;
      margin-top: 0.03rem;
      position: absolute;
      left: 0.45rem; }
    .room-img .slick-dots li.slick-active {
      display: block; }

.statistics {
  padding: 0.27rem 0; }
  .statistics li {
    width: 25%;
    float: left;
    box-sizing: border-box;
    border-left: 1px solid #c6c6c6;
    font-size: 0.43rem; }
    .statistics li:first-child {
      border-left-color: transparent; }
    .statistics li > div, .statistics li > a {
      display: block;
      text-align: center;
      padding: 0.16rem 0;
      color: #1c8de4; }
    .statistics li p {
      font-size: 0.43rem; }
      .statistics li p:last-child {
        color: #7d7c7f;
        margin-top: 0.21rem; }

.room-offer {
  background-color: #fff;
  padding: 0 0.61rem;
  margin-top: 0.27rem;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
  .room-offer dl {
    margin: 0;
    font-size: 0.43rem; }
  .room-offer dt {
    float: left;
    min-width: 0.73rem;
    margin-top: 0.43rem;
    color: #7d7c7f; }
  .room-offer dd {
    margin: 0.43rem 0 0 0.73rem;
    color: #313131; }

.room-feedback {
  margin-top: 0.27rem; }
  .room-feedback h4 {
    padding: 0.4rem 0.43rem;
    color: #ff7700;
    font-size: 0.43rem;
    font-weight: bold;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
  .room-feedback ul {
    padding: 0 0.43rem; }
  .room-feedback li {
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    padding: 0.61rem 0 0.61rem 0.85rem; }
    .room-feedback li i {
      left: 0;
      font-size: 0.75rem;
      color: #7d7c7f; }
    .room-feedback li p {
      color: #313131;
      line-height: 0.75rem; }

footer {
  border-top: 1px solid #e1e1e1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.36rem;
  background-color: #fff;
  line-height: 1.36rem;
  z-index: 6; }
  footer .total {
    padding-left: 0.56rem;
    color: #ff7700;
    font-size: 0.37rem; }
    footer .total strong {
      font-size: 0.53rem; }
  footer .btns button.btn {
    margin-right: 0.31rem;
    border: 0;
    height: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; }
    footer .btns button.btn:focus {
      outline: none; }
  footer .btns > a {
    margin-right: 0.31rem; }
    footer .btns > a:first-child {
      margin-right: 0.41rem; }
  footer .btn {
    height: 0.93rem;
    background-color: #ff7700;
    border-radius: 0.11rem;
    padding: 0.27rem 0.43rem;
    color: #fff;
    font-size: 0.43rem; }
  footer .disabled {
    color: #999; }

.footer-placeholder {
  height: 1.36rem; }

.col-2 {
  float: left;
  width: 50%; }

.dp-overview {
  padding: 0.35rem 0.2rem;
  position: relative; }
  .dp-overview em {
    display: inline-block;
    font-style: normal;
    color: #7d7c7f; }
  .dp-overview .score {
    left: 0.43rem; }
    .dp-overview .score em {
      padding: 0 0.11rem; }
      .dp-overview .score em:first-child {
        border-right: 1px solid #d7d7d7; }
    .dp-overview .score strong {
      font-size: 0.43rem;
      color: #ff7700; }
  .dp-overview .subscore {
    margin-left: 45%; }
    .dp-overview .subscore em {
      width: 50%;
      margin-top: 0.12rem;
      text-align: right; }

.dp-action {
  padding: 0.31rem;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1; }
  .dp-action li {
    width: 28.33%;
    padding-left: 3%;
    box-sizing: border-box;
    float: left; }
    .dp-action li:first-child {
      padding-left: 0;
      width: 15%; }
  .dp-action a {
    display: block;
    border-radius: 0.11rem;
    border: 1px solid #60afec;
    padding: 0.27rem 0;
    text-align: center; }
  .dp-action p {
    border-radius: 0.11rem;
    border: 1px solid #60afec;
    padding: 0.27rem 0;
    text-align: center; }
    .dp-action p i {
      color: #1c8de4; }

.dp-items {
  margin-top: 0.27rem;
  background-color: #fff;
  padding: 0 0.53rem 0.45rem;
  border-top: 1px solid #e1e1e1; }
  .dp-items h4 {
    color: #7d7c7f;
    margin-bottom: 0.28rem; }
  .dp-items li {
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 1.07rem;
    padding-top: 0.45rem; }
    .dp-items li:last-child {
      border-bottom-color: transparent; }
  .dp-items .room-name {
    position: absolute;
    right: 0;
    top: 0.45rem;
    font-size: 0.37rem; }
    .dp-items .room-name i {
      font-size: 0.32rem;
      top: 0; }
  .dp-items .dp-btn {
    position: absolute;
    right: 0;
    bottom: 0.27rem;
    display: block;
    border-radius: 0.11rem;
    border: 1px solid #d0d0d0;
    padding: 0.21rem; }
  .dp-items .date {
    font-size: 0.32rem;
    color: #7d7c7f;
    margin-top: 0.41rem;
    margin-bottom: 0.31rem; }
  .dp-items .more {
    text-align: center; }
    .dp-items .more a {
      display: block; }

.dp-stars .hotel-icon {
  font-size: 0.43rem;
  color: #fcbd11;
  margin-right: 0.15rem; }

.dp-stars .star-result {
  display: inline; }
  .dp-stars .star-result .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 0.27rem solid transparent;
    border-right: 0.27rem solid #1c8de4;
    border-bottom: 0.27rem solid transparent;
    content: ""; }
  .dp-stars .star-result > span {
    height: 0.53rem;
    border-radius: 0 0.11rem 0.11rem 0;
    background-color: #1c8de4;
    display: inline-block;
    line-height: 0.53rem;
    color: #fff;
    padding: 0 0.37rem; }

.dp-choose {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.41rem;
  background-color: #1c8de4; }
  .dp-choose a {
    color: #fff;
    text-align: center;
    line-height: 1.41rem;
    display: block; }
  .dp-choose .hotel-icon {
    font-size: 0.43rem; }

.dp-placeholder {
  height: 1.41rem; }

.trip-share h2 {
  font-size: 0.43rem;
  padding: 0.37rem 0.41rem; }

.trip-share .item {
  padding: 0.48rem 2.53rem 0.48rem 0.41rem;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  position: relative;
  margin-top: 0.21rem; }
  .trip-share .item:first-child {
    margin-top: 0; }
  .trip-share .item p {
    font-size: 0.37rem; }

.trip-share .share-btn {
  right: 0.41rem; }
  .trip-share .share-btn a {
    display: inline-block;
    padding: 0.32rem 0.4rem;
    border: 1px solid #1c8de4;
    border-radius: 0.11rem;
    font-size: 0.43rem; }

.order-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c8de4;
  height: 3.1771rem;
  z-index: 2; }
  .order-header h1, .order-header i.hotel-icon {
    color: #fff; }
  .order-header .subheader {
    position: relative; }
  .order-header .room-intro {
    position: relative;
    border-radius: 0.11rem;
    background-color: #fff;
    padding: 0.39rem 0.31rem; }
    .order-header .room-intro > a {
      font-size: 0.37rem;
      right: 0.41rem; }
    .order-header .room-intro h2, .order-header .room-intro p {
      font-size: 0.37rem; }
    .order-header .room-intro p {
      color: #999;
      margin-top: 0.27rem; }
  .order-header .padding-inner {
    padding-bottom: 0.31rem; }

.form-section {
  padding-top: 0.27rem; }
  .form-section .form-group {
    padding: 0.48rem 0.31rem;
    background-color: #fff;
    border-bottom: 1px solid #f4f4f4;
    position: relative; }
    .form-section .form-group label {
      font-size: 0.37rem;
      display: inline-block;
      width: 2.0rem;
      color: #999; }
      .form-section .form-group label .hotel-icon {
        font-size: 0.43rem;
        margin-left: 0.11rem; }
    .form-section .form-group input {
      border: none; }
      .form-section .form-group input:focus {
        outline: none; }
      .form-section .form-group input::-webkit-input-placeholder, .form-section .form-group input:-moz-placeholder, .form-section .form-group input::-moz-placeholder, .form-section .form-group input:-ms-input-placeholder {
        font-size: 0.37rem; }
    .form-section .form-group .right-icon {
      right: 0.41rem; }

.order-booker .icon-jiaren, .order-booker .icon-book {
  font-size: 0.43rem;
  color: #999; }

.order-booker .open .roomnum-list {
  display: block; }

.order-booker .roomnum-list {
  padding: 0.41rem 0.31rem 0.49rem;
  display: none; }
  .order-booker .roomnum-list > a {
    display: block;
    text-align: center;
    color: #999;
    font-size: 0.32rem;
    width: 20%;
    box-sizing: border-box;
    float: left; }
    .order-booker .roomnum-list > a > span {
      background-color: #fff;
      margin: 0.2rem 0.16rem 0;
      display: block;
      padding: 0.32rem 0;
      border-radius: 0.13rem;
      border: 1px solid #fff; }
    .order-booker .roomnum-list > a.active {
      color: #1c8de4; }
      .order-booker .roomnum-list > a.active > span {
        border-color: #1c8de4; }

.order-booker .person-group {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #f4f4f4; }
  .order-booker .person-group .form-group {
    margin-left: 2.0rem; }
    .order-booker .person-group .form-group:last-child {
      border-bottom: none; }
  .order-booker .person-group label {
    z-index: 1;
    left: 0.31rem;
    color: #999; }

.order-booker .phone-group .quhao-box {
  display: inline-block;
  width: 15%;
  position: relative;
  margin-right: 0.27rem; }
  .order-booker .phone-group .quhao-box:after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 0.13rem solid #999;
    border-right: 0.13rem solid transparent;
    border-left: 0.13rem solid transparent;
    content: "";
    position: absolute;
    right: 0.27rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.order-booker .phone-group .quhao {
  padding-right: 0.05rem;
  margin-right: 0.05rem;
  width: 95%;
  border-right: 1px solid #ddd; }

.baoxian .baoxian-header {
  position: relative; }
  .baoxian .baoxian-header h3 {
    font-size: 0.43rem; }
  .baoxian .baoxian-header > a {
    right: 0.31rem;
    font-size: 0.37rem; }

.baoxian .checked-box {
  display: inline-block;
  width: 0.51rem;
  height: 0.51rem;
  border-radius: 50%;
  border: 1px solid #1c8de4;
  background-color: #fff;
  left: 0.31rem; }
  .baoxian .checked-box:after {
    content: " ";
    width: 0.24rem;
    height: 0.24rem;
    background-color: #1c8de4;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -0.12rem;
    left: 50%;
    margin-left: -0.12rem; }

.baoxian .baoxian-checked {
  padding-left: 0.85rem; }

.buchong .notice {
  padding: 0.53rem 0.31rem 0.95rem; }
  .buchong .notice strong {
    font-size: 0.43rem; }

.quhao-component {
  background-color: #fff;
  position: relative; }
  .quhao-component h2 {
    background: #f4f4f4;
    font-size: 0.32rem;
    padding: 0.16rem 0.2rem; }
    .quhao-component h2 a {
      color: #323232; }
  .quhao-component .item {
    margin-top: 0.4rem;
    padding: 0 1.07rem 0 0.2rem; }
  .quhao-component .country-list > li {
    color: #323232;
    padding: 0.4rem 0.2rem;
    position: relative;
    border-bottom: 1px solid #e2e2e2; }
    .quhao-component .country-list > li:last-child {
      border-bottom: none; }
  .quhao-component .country-list .country-code {
    right: 0.2rem; }
  .quhao-component .searchlist .item {
    margin-top: 0; }
  .quhao-component .searchlist .country-list > li:last-child {
    border-bottom: 1px solid #e2e2e2; }
  .quhao-component .jiansuo-aside {
    right: 0.2rem;
    position: fixed;
    margin-top: 0.75rem; }
    .quhao-component .jiansuo-aside > a {
      display: block;
      color: #1c8de4;
      font-size: 0.37rem;
      font-weight: bold;
      padding: 0.07rem;
      text-align: center; }
  .quhao-component .search-box {
    padding: 0.2rem;
    position: relative; }
    .quhao-component .search-box i {
      left: 0.4rem; }
    .quhao-component .search-box input {
      width: 100%;
      box-sizing: border-box;
      border: 0;
      height: 0.8rem;
      border-bottom: 1px solid #323232;
      padding-left: 0.6rem; }
      .quhao-component .search-box input:focus {
        border: 0;
        outline: none;
        border-bottom: 1px solid #323232; }

.modal {
  position: fixed;
  background-color: #fff;
  left: 0.67rem;
  right: 0.67rem;
  bottom: 0;
  z-index: 9;
  top: 3.1771rem;
  overflow: scroll; }

.modal-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 8; }

.price_detail_cont {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5; }
  .price_detail_cont.modal-open {
    display: block; }
  .price_detail_cont .shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .price_detail_cont .price_detail {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1.36rem;
    background-color: #fff; }
    .price_detail_cont .price_detail .titel {
      font-size: 0.4375rem;
      font-weight: normal;
      line-height: 1.0417rem;
      color: #242424;
      border-bottom: 1px solid #ededed;
      padding: 0 0.5625rem; }
    .price_detail_cont .price_detail .price_detail_list {
      padding: 0 0.5625rem; }
      .price_detail_cont .price_detail .price_detail_list > li {
        font-size: 0.375rem;
        color: #242424;
        line-height: 1.0417rem;
        border-bottom: 1px solid #ededed; }
        .price_detail_cont .price_detail .price_detail_list > li .pull-right strong {
          color: #ff7700;
          font-weight: bold; }
        .price_detail_cont .price_detail .price_detail_list > li .pull-right em {
          font-style: normal; }
      .price_detail_cont .price_detail .price_detail_list > li:last-child {
        border-bottom: 0; }

.hotel-forms-order {
  padding-top: 3.1771rem; }
