
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock1:before { content: "\e600"; }

.icon-book:before { content: "\e601"; }

.icon-gougou:before { content: "\e635"; }

.icon-plane:before { content: "\e602"; }

.icon-plus1:before { content: "\e603"; }

.icon-waste:before { content: "\e604"; }

.icon-youyou:before { content: "\e606"; }

.icon-weixuanzhong:before { content: "\e76c"; }

.icon-xuanzhong:before { content: "\e76d"; }

.icon-tanhaotubiao:before { content: "\e76e"; }

.icon-guanbi:before { content: "\e76f"; }

